ul {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 25px
}

.logo {
  width: 10%;
  background-color: red;
}

header img {
  position: fixed;
  justify-content: left;
  max-width: 50px;
  padding: 2px;
  left: 10px;
  top: 10px;
}

* {
  box-sizing: border-box;
  color: red;
  background-color: aliceblue;
}

.onegai {
  color: aliceblue;
}

@media screen and (max-width:347px) {
  * {
    color: black;
    background-color: black;
  }

  .onegai {
    color: yellow;
    float: top;
    font-size: 45px;
    font-weight: bold;
  }

  header img {
    padding-bottom: 62px;

  }
}

/*@media screen and (max-width:800px) {
  * {
    color: black;
    background-color:aliceblue;
    flex-wrap: wrap;
  }

}*/

@media screen and (min-width:1025px) {
  * {
    color: green;
    background-color: aqua;
  }

  .onegai {
    color: aqua;
  }
}

header {
  position: fixed;
  top: 0;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 100%;
}

.plate {
  background-color: purple;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#submit {
  margin-top: 10px;
}

::placeholder {
  text-align: center;
}

.important {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}