ul{
    width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  right:0;
  top:0;
  left:2%
  padding: 22px; 
}
li{
  
}
header img {
  position: fixed;
  justify-content:left;
  max-width: 50px;
  left:2%;
  top:2%;
}
nav{
    display: block;
}
*{
  box-sizing: border-box;  
  color: red;
    background-color: aliceblue;
  }
@media screen and (max-width:920px) {
    * {
      color: black;
      background-color: aliceblue;
      flex-wrap: wrap;
    }
  }
@media screen and (min-width:1025px) {
    * {
      color: green;
      background-color: aqua;
    }
}
header {
    position:fixed;
    top: 0;
    padding: 0 20px;
    display: flex;
    justify-content : space-around;
    align-items:center;
    unicode-bidi: isolate;
    scroll-padding-left: 500px;

}
.plate {
  background-color:purple;
}
#form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#submit {
  margin-top: 10px;
}
::placeholder{
  text-align: center;
}
.important {
  text-align: center;
}